﻿@using Projekat.Models;
@{
    ViewBag.Title = "Admin";
}

<style>
    body {
        background-color: mediumseagreen;
        
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h4 class="btn btn-default">@Html.ActionLink("Odjavi se", "LogOut", "Home")</h4>
<h2>Admin</h2>

@{ int j = -1;}
<h3> Kupci </h3>
<table style="background-color:lavender" border="1">
    <tr><th>Ime </th><th>Prezime </th><th>Korisničko ime</th> <th></th></tr>
    @foreach (Korisnik k in ViewBag.Kupci.SpisakKupaca)
    {

        <tr>
            <td>@k.Ime</td>
            <td>@k.Prezime</td>
            <td>@k.Username</td>

            @{j++;}
            <td>
                @if (k.Logicki_obrisan == false)
                {
                    <form method="post" action="~/Home/Blokiraj">
                        <input type="text" hidden name="un" value="@k.Username">
                        <input class="btn btn-default" type="submit" value="Blokiraj">

                    </form>
                }
                else
                {
                    <form method="post" action="~/Home/Odblokiraj">
                        <input type="text" hidden name="un" value="@k.Username">
                        <input class="btn btn-default" type="submit" value="Odblokiraj">
                    </form>
                }
            </td>

        </tr>

    }
</table>
<form method="post" action="~/Home/SortiranjePoImenu">
    <input list="cena" name="sortTip">
    <datalist id="cena">
        <option value="RASTUĆE"></option>
        <option value="OPADAJUĆE"></option>
    </datalist>
    <input class="btn btn-default" type="submit" value="Sortiraj po imenu">
</form>
<form method="post" action="~/Home/SortiranjePoPrezimenu">
    <input list="cena" name="sortTip">
    <datalist id="cena">
        <option value="RASTUĆE"></option>
        <option value="OPADAJUĆE"></option>
    </datalist>
    <input class="btn btn-default" type="submit" value="Sortiraj po prezimenu">
</form>
<form method="post" action="~/Home/SortiranjeUsername">
    <input list="cena" name="sortTip">
    <datalist id="cena">
        <option value="RASTUĆE"></option>
        <option value="OPADAJUĆE"></option>
    </datalist>
    <input class="btn btn-default" type="submit" value="Sortiraj po korisničkom imenu">
</form>
<form method="post" action="~/Home/PretragaIme">
    <input type="text" name="ime">
    <input class="btn btn-default" type="submit" value="Pretraži po imenu">
</form>
<form method="post" action="~/Home/PretragaPrezime">
    <input type="text" name="prezime">
    <input class="btn btn-default" type="submit" value="Pretraži po prezimenu">
</form>


@if (ViewBag.KupciFilter.Count != 0)
{
    <h3>Rezultati pretrage</h3>
    <table border="1">
        <tr><th>Ime </th><th>Prezime </th><th>Korisničko ime</th></tr>
        @foreach (Korisnik k in ViewBag.KupciFilter)
        {

            <tr>
                <td>@k.Ime</td>
                <td>@k.Prezime</td>
                <td>@k.Username</td>
            </tr>

        }
    </table>
}

<h3> Prodavci </h3>
<table border="1">
    <tr><th>Ime </th><th>Prezime </th><th>Korisničko ime</th></tr>
    @foreach (Korisnik k in ViewBag.Prodavci.SpisakProdavaca)
    {

        <tr>
            <td>@k.Ime</td>
            <td>@k.Prezime</td>
            <td>@k.Username</td>
        </tr>
    }
</table>

<p class="btn btn-default">@Html.ActionLink("Dodaj prodavca", "ProdavacReg", "Home")</p>

@{ int n = -1;}
<h2>Spisak svih neodobrenih manifestacija</h2>
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Broj mesta</th><th>Datum i vreme</th><th>Status</th><th>Mesto odrzavanja</th></tr>
    @foreach (Manifestacija m in ViewBag.NeodobreneManifestacije)
    {
        { n++; }
        <tr>
            <td>@m.Naziv</td>
            <td>@m.Tip_man</td>
            <td>@m.Broj_mesta</td>
            <td>@m.Vreme_odr</td>
            <td>@m.St</td>
            <td>@m.MestoOdrzavanja.Mesto</td>
            <td>
                <form method="post" action="~/Home/Odobri">
                    <input type="text" hidden name="man" value="@m.Naziv">
                    <input class="btn btn-default" type="submit" value="ODOBRI">
                </form>
            </td>
        </tr>
    }
</table>
