﻿@using Projekat.Models;
@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: contain;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width:auto;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }


    
</style>

<div class="jumbotron">
    <h1>Aplikacija za rezervaciju ulaznica</h1>
    <p class="lead">Da biste mogli rezervisati kartu ili dodati manifestaciju potrebno je registrovati se.</p>
    <p>@Html.ActionLink("Registruj se kao kupac", "KupacReg", "Home")</p>
    
    <p class="lead">Već posedujete nalog? @Html.ActionLink("Uloguj se", "LogIn", "Home")</p>
</div>



        <h2 style="color:brown">Spisak svih manifestacija</h2>
        

            <table border="1" cellspacing="2" align="center">
                <tr text-align: center> <th>Naziv </th><th>Tip </th><th>Broj mesta</th><th>Datum i vreme</th><th>Status</th><th>Mesto odrzavanja</th><th>Poster</th></tr>
                @foreach (Manifestacija m in ViewBag.Manifestacije)
                {

                   if (m.St == status.AKTIVNO)
                    {
                    <tr>
                        <td> @m.Naziv</td>
                        <td> @m.Tip_man</td>
                        <td> @m.Broj_mesta</td>
                        <td> @m.Vreme_odr.ToShortDateString()</td>
                        <td> @m.St</td>
                        <td> @m.MestoOdrzavanja.Mesto</td>
                        <td>

                            @if (m.Tip_man == tip_manifestacije.POZORISTE)
                            {<img src="~/images/pozoriste.jpg" alt="pozoriste_slika">}
                            @if (m.Tip_man == tip_manifestacije.KONCERT)
                            {<img src="~/images/koncert.jpg" alt="koncert_slika">}
                            @if (m.Tip_man == tip_manifestacije.FESTIVAL)
                            {<img src="~/images/festival.jpg" alt="festival_slika">}

                        </td>
                    </tr>
                    }
                }
            </table>
        
            <form method="post" action="~/Home/Pretraga">
                <input type="text" name="naziv">
                <input class="btn btn-default" type="submit" value="Pretraži po nazivu">
            </form>
            <form method="post" action="~/Home/PretragaMesto">
                <input type="text" name="naziv">
                <input class="btn btn-default" type="submit" value="Pretraži po mestu">
            </form>
            <form method="post" action="~/Home/TrazenjePoCeni">
                <label>Od:</label>
                <input type="number" name="donja" />
                <label>Do:</label>
                <input type="number" name="gornja" />
                <input class="btn btn-default" type="submit" value="Pretraži po ceni">
            </form>
            <form method="post" action="~/Home/FiltriranjeTip">
                <input list="tipovi" name="tip_man">
                <datalist id="tipovi" style="animation-fill-mode:both">
                    <option value="KONCERT"></option>
                    <option value="POZORISTE"></option>
                    <option value="FESTIVAL"></option>
                </datalist>
                <input class="btn btn-default" type="submit" value="Filtriraj">
            </form>
            <form method="post" action="~/Home/FiltriranjeNerasprodate">
                <input class="btn btn-default" type="submit" value="Prikaži nerasprodate manifestacije">
            </form>
            <form method="post" action="~/Home/SortiranjePoCeni">
                <input list="cena" name="sortTip">
                <datalist id="cena">
                    <option value="RASTUĆE"></option>
                    <option value="OPADAJUĆE"></option>
                </datalist>
                <input class="btn btn-default" type="submit" value="Sortiraj po ceni">
            </form>
            <form method="post" action="~/Home/SortiranjePoDatumu">
                <input list="cena" name="sortTip">
                <datalist id="cena">
                    <option value="RASTUĆE"></option>
                    <option value="OPADAJUĆE"></option>
                </datalist>
                <input class="btn btn-default" type="submit" value="Sortiraj po datumu">
            </form>
            <form method="post" action="~/Home/SortiranjePoMestu">
                <input list="cena" name="sortTip">
                <datalist id="cena">
                    <option value="RASTUĆE"></option>
                    <option value="OPADAJUĆE"></option>
                </datalist>
                <input class="btn btn-default" type="submit" value="Sortiraj po mestu">
            </form>
            <form method="post" action="~/Home/SortiranjePoNazivu">
                <input list="cena" name="sortTip">
                <datalist id="cena">
                    <option value="RASTUĆE"></option>
                    <option value="OPADAJUĆE"></option>
                </datalist>
                <input class="btn btn-default" type="submit" value="Sortiraj po nazivu">
            </form>

        </div>
    
</div>