﻿
@{
    ViewBag.Title = "KombinovanaPretraga";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: cover;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h2>Kombinovana pretraga</h2>
<form method="post" action="~/Home/PretraziKomb">
    <label>Tip karte:</label>
    <input list="tipovi" name="tip_kar">
    <datalist id="tipovi" style="animation-fill-mode:both">
        <option value="REGULAR"></option>
        <option value="VIP"></option>
        <option value="FAN_PIT"></option>
    </datalist> <br>
    <label>Tip manifestacije:</label>
    <input list="tipovi2" name="tip_man">
    <datalist id="tipovi2" style="animation-fill-mode:both">
        <option value="KONCERT"></option>
        <option value="FESTIVAL"></option>
        <option value="POZORIŠTE"></option>
        
    </datalist> <br>
    <label>Cena od:</label>
    <input type="number" name="cena_od" value="0" />
    <label>Cena do:</label>
    <input type="number" name="cena_do" value="0" /> <br>
    <label>Datum od:</label>
    <input type="text" name="datum_od" value="1.1.1." />
    <label>Datum do:</label>
    <input type="text" name="datum_do" value="31.12.2040." /> <br>
    <input class="btn btn-default" type="submit" value="Pretraži">
</form>

