﻿@{
    ViewBag.Title = "Dodavanje komentara";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: contain;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h2>Dodavanje komentara</h2>
<form action="~/Home/DodajKom" method="post">
    <table>
        <tr>
            <td>Komentar:</td>
            <td><input size="120" type="text" name="tekst"></td>
        </tr>
        <tr>
            <td>Ocena:</td>
            <td>
                <input list="ocene" name="ocena">
                <datalist id="ocene">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </datalist>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input type="submit" value="Dodaj">
            </td>
        </tr>
    </table>
</form>
<p>@ViewBag.Message</p>