﻿
@{
    ViewBag.Title = "KupacReg";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: contain;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>
<h3>Registracija korisnika</h3>
<div>
    @ViewBag.Message
</div>
<form action="~/Home/DodajKupca" method="post">
    <table style="background-color:azure">
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka"></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime"></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime"></td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="text" name="datum_rodjenja"></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="polovi" name="pol">
                <datalist id="polovi">
                    <option value="M"></option>
                    <option value="Z"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input style="align-self:center" type="submit" value="Registracija">
            </td>
        </tr>
    </table>
</form>
<p>@ViewBag.Message</p>
