﻿@using Projekat.Models;
@{
    ViewBag.Title = "Kupac ";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: contain;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h1>@ViewBag.Kupac.Username</h1>
<h2 class="btn btn-default">@Html.ActionLink("Izmeni profil", "KupacIzmena", "Home")</h2>
<h4 class="btn btn-default">@Html.ActionLink("Odjavi se", "LogOut", "Home")</h4>
<h2> Osvojeni bodovi: @ViewBag.Kupac.Bodovi.ToString() </h2>
<h2>Rezervisane karte</h2>
@if (ViewBag.Rezervacije.Count != 0)
{
    <table border="1">
        <tr><th>Naziv manifestacije </th> <th>Id karte</th></tr>
        @foreach (Rezervacija r in ViewBag.Rezervacije)
        {

        <tr>
            <td>@r.Ime_manifestacije</td>
            <td>@r.Id</td>
            <td>
                <form method="post" action="~/Home/Otkazivanje">
                    <input hidden value="@r.Id" type="text" name="id">
                    <input hidden value="@r.Ime_manifestacije" type="text" name="ime_man">
                    <input class="btn btn-default" type="submit" value="OTKAŽI">
                </form>
            </td>
        </tr>
        }
    </table>
}
else
{
    <p>Nema rezervisanih karata</p>
}
<h2>Dostupne karte</h2>

<form method="post" action="~/Home/FiltriranjeTipKarte">
    <input list="tipovi" name="tip">
    <datalist id="tipovi" style="animation-fill-mode:both">
        <option value="REGULAR"></option>
        <option value="VIP"></option>
        <option value="FAN_PIT"></option>
    </datalist>
    <input class="btn btn-default" type="submit" value="Filtriraj">
</form>

<h4 class="btn btn-default">@Html.ActionLink("Kombinovana pretraga", "KombinovanaPretraga", "Home")</h4>

@if (ViewBag.Karte.Count != 0)
{
    <table border="1">
        <tr><th>Naziv manifestacije </th><th>Datum i vreme</th><th>Cena </th><th>Tip karte</th><th>Mesto odrzavanja</th></tr>
        @foreach (Karta k in ViewBag.Karte)
        {

            <tr>
                <td>@k.Manifestacija.Naziv</td>
                <td>@k.DateTime.ToShortDateString()</td>
                <td>@k.Cena</td>
                <td>@k.Tk</td>
                <td>@k.Manifestacija.MestoOdrzavanja.Mesto</td>
                <td>
                    <form method="post" action="~/Home/Rezervacija">
                        <input hidden value="@k.Id" type="text" name="id">
                        <input hidden value="@k.Manifestacija.Naziv" type="text" name="ime_man">
                        <input class="btn btn-default" type="submit" value="REZERVIŠI">
                    </form>
                </td>
                <td>
                    <form method="get" action="~/Home/PregledMan">
                        <input hidden value="@k.Manifestacija.Naziv" type="text" name="ime_man">
                        <input class="btn btn-default" type="submit" value="Pogledaj manifestaciju">
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Nijedan rezultat se ne poklapa sa pretragom</p>
}

