﻿
@{
    ViewBag.Title = "LogIn";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: cover; 
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h3>Prijava</h3>
<form action="~/Home/Prijava" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-default" type="submit" value="Prijavi se">
            </td>
        </tr>
    </table>
</form>
<p style="color:red">@ViewBag.Message</p>

