﻿
@{
    ViewBag.Title = "NovaManifestacija";
}

<style>
    body {
        background-color: linen;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h2>Nova manifestacija</h2>
<form action="~/Home/DodajManifestaciju" method="post">
    <table>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="naziv"></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <input list="tipovi" name="tip">
                <datalist id="tipovi">
                    <option value="KONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="POZORIŠTE"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Broj mesta:</td>
            <td><input type="number" name="broj_mesta"></td>
        </tr>
        <tr>
            <td>Vreme:</td>
            <td><input type="text" name="datum_odrzavanja"></td>
        </tr>
        <tr>
            <td>Cena karte:</td>
            <td><input type="number" name="cena"></td>
        </tr>
        <tr>
            <td>Ulica:</td>
            <td><input type="text" name="ulica"></td>
        </tr>
        <tr>
            <td>Mesto:</td>
            <td><input type="text" name="mesto"></td>
        </tr>
        <tr>
            <td>Poštanski broj:</td>
            <td><input type="number" name="postanski_broj"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Dodaj">
            </td>
        </tr>
    </table>
</form>
<p>@ViewBag.Message</p>

