﻿@using Projekat.Models;

@{
    ViewBag.Title = "PregledManifestacije";
    Manifestacija m = ViewBag.Manifestacija;
    List<Komentar> c = ViewBag.Komentari;
}

<style>
    body {
        background-color: linen;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h4 class="btn btn-default">@Html.ActionLink("Nazad na profil", "Kupac", "Home")</h4>

<h2>Pregled manifestacije</h2>
<table>
    <tr>
        <td>Naziv:</td>
        <td>@m.Naziv</td>
    </tr>
    <tr>
        <td>Tip:</td>
        <td>@m.Tip_man.ToString()</td>
    </tr>
    <tr>
        <td>Broj mesta:</td>
        <td>@m.Broj_mesta</td>
    </tr>
    <tr>
        <td>Vreme:</td>
        <td>@m.Vreme_odr.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Cena regular karte:</td>
        <td>@m.Cena_karte</td>
    </tr>
    <tr>
        <td>Ulica:</td>
        <td>@m.MestoOdrzavanja.Ulica</td>
    </tr>
    <tr>
        <td>Grad:</td>
        <td>@m.MestoOdrzavanja.Mesto</td>
    </tr>


</table>

@if (m.Tip_man == tip_manifestacije.POZORISTE)
{<img src="~/images/pozoriste.jpg" alt="pozoriste_slika">}
@if (m.Tip_man == tip_manifestacije.KONCERT)
{<img src="~/images/koncert.jpg" alt="koncert_slika">}
@if (m.Tip_man == tip_manifestacije.FESTIVAL)
{<img src="~/images/festival.jpg" alt="festival_slika">}

    <h2>Komentari</h2>
    <h4 class="btn btn-default">@Html.ActionLink("Dodaj komentar", "KomentarDodavanje", "Home")</h4>
    @if (c.Count != 0)
    {
        <table border="1">
            <tr><th>Korisnicko ime </th><th>Ocena</th><th>Komentar </th></tr>
            @foreach (Komentar k in c)
            {

                <tr>
                    <td>@k.Korisnicko_ime</td>
                    <td>@k.Ocena</td>
                    <td>@k.Tekst_komentara</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Nema komentara</p>
    }
