﻿@using Projekat.Models;

@{
    ViewBag.Title = "Prodavac";
}

<style>
    body {
        background-color: linen;
        background-image: url("../../images/background2.jpg");
        background-size: contain;
    }

    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: white;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h2>@Html.ActionLink("Izmeni profil", "ProdavacIzmena", "Home")</h2>
<h4 class="btn btn-default">@Html.ActionLink("Odjavi se", "LogOut", "Home")</h4>
<h2>@Html.ActionLink("Dodaj manifestaciju", "NovaManifestacija", "Home")</h2>
<h1>Moje manifestacije</h1>
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Broj mesta</th><th>Datum i vreme</th><th>Status</th><th>Mesto odrzavanja</th></tr>
    @foreach (Manifestacija m in ViewBag.MojeManifestacije)
    {

        <tr>
            <td>@m.Naziv</td>
            <td>@m.Tip_man</td>
            <td>@m.Broj_mesta</td>
            <td>@m.Vreme_odr</td>
            <td>@m.St</td>
            <td>@m.MestoOdrzavanja.Mesto</td>
        </tr>
    }
</table>


