﻿
@{
    ViewBag.Title = "ProdavacReg";
}

<h3>Registracija korisnika</h3>
<form action="~/Home/DodajProdavca" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka"></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime"></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime"></td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="text" name="datum_rodjenja"></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="polovi" name="pol">
                <datalist id="polovi">
                    <option value="M"></option>
                    <option value="Z"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Registracija">
            </td>
        </tr>
    </table>
</form>
<p>@ViewBag.Message</p>