﻿<style>
    h1 {
        color: maroon;
        margin-left: 40px;
    }

    td {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    th {
        height: 60px;
        padding: 15px;
        background-color: seagreen;
        color: black;
    }

    tr:nth-child(even) {
        background-color: darkcyan;
    }

    tr:nth-child(odd) {
        background-color: cyan;
    }

    tr:hover {
        background-color: #f5f5f5;
        color: black;
    }
</style>

<h3>Izmena profila</h3>
<form action="~/Home/Izmeni" method="post">
    <table>
        <tr hidden>
            <td>Korisničko ime:</td>
            <td><input type="text" name="username" value="@ViewBag.Korisnik.Username"></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka" value="@ViewBag.Korisnik.Lozinka"></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" value="@ViewBag.Korisnik.Ime"></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime" value="@ViewBag.Korisnik.Prezime"></td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="text" name="datum_rodjenja" value="@ViewBag.Korisnik.Datum_rodjenja.ToShortDateString()"></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="tipovi" name="tipstana" value="@ViewBag.Korisnik.Pol.ToString()">
                <datalist id="tipovi">
                    <option value="M"></option>
                    <option value="Z"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Izmeni">
            </td>
        </tr>
    </table>
</form>
